#app {
    padding-top:  20px;
    padding-bottom:  350px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

#calculator {
    background-color: gray;
    padding:  10px;
    display:  inline-block;
    margin:  auto;
}